<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layouttest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayoutTest">
        <activity
            android:name=".ViewNoteActivity"
            android:exported="true" />
        <activity
            android:name=".NewNoteActivity"
            android:exported="true" />
        <activity
            android:name=".MyNoteActivity"
            android:exported="true" />
        <activity
            android:name=".PastOrderViewActivity"
            android:exported="true" />
        <activity
            android:name=".PastOrderActivity"
            android:exported="true" />
        <activity
            android:name=".OrderViewActivity"
            android:exported="true" />
        <activity
            android:name=".NewOrderActivity"
            android:exported="true" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="true" />
        <activity
            android:name=".VerifyActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>